<% provide(:title, 'Login') %>
<h1 class="page-title">Login</h1>

<section class="wrapper">
    <div class="form-container">
    <%# The difference between the session form and the signup form is that we have no Session model, and hence no analogue for the @user variable. This means that, in constructing the new session form, we have to give form_with slightly different information, in the session we need to indicate the corresponding URL, along with the scope (in the case, the session) %>
      <%= form_with(url: login_path, scope: :session, local: true) do |form| %>
    
        <div class="form-each">
          <%= form.label :email %>
          <%= form.email_field :email %>
        </div>

        <div class="form-each">
          <%= form.label :password %>
          <%= form.password_field :password %>
        </div>

        <div class="form-submit">
          <%= form.submit "Login", class: "btn-createAccount" %>
        </div>
      <% end %>

      <p class="login-or-signup-link-style">New user? <%= link_to "Sign up now!", signup_path %></p>
    </div>
</section>
