<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Ruby on Rail App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
  </head>

  <body class="Site">
    <%= render 'layouts/navigation' %>
    <main class="Site-content">
    <div class="container">
    <%= render 'layouts/messages' %>
    <%= yield %>
    
    </div>
    </main>
    <%= render 'layouts/footer' %> 
    <%# display debug information only in development environment %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
